<% content_for(:html_title) { @workout.menu } %>
<br>
<%= link_to 'javascript:history.back()' ,class: "btn-small harf-transparent waves-effect waves-light black" do %>
    <span style="font-size:10px"><i class="material-icons left">arrow_back</i><%= BACK %></span>
<% end %>
<h1>Workout edit</h1>
<%= simple_form_for @workout do |f| %>
    <%= f.hidden_field :id %>
    <p class = "emphasis"><%=  MENU_NAME %></p>
        <%= f.input :menu ,placeholder: MENU_NAME_PH ,label:false %>
    <p class = "emphasis"><%= PURPOSE %></p>
  <% purposes = [ALL,PURPOSE_1,PURPOSE_2] %>
  <% for i in [*0..2] %>
    <label>
        <% if i == 0 %>
          <%= f.radio_button :purpose, '' %>
        <% elsif i != 0 %>
          <%= f.radio_button :purpose, i.to_s %>
        <% end %>
        <span><%= purposes[i] %></span>
    </label>
    <% if i == 0 %>
      <br>
    <% end%>
  <% end%>
  <p class = "emphasis"><%= ENVIRONMENT %></p>
  <% environments = [ALL,ENVIRONMENT_1,ENVIRONMENT_2,ENVIRONMENT_3] %>
  <% for i in [*0..3] %>
    <label >
        <% if i == 0 %>
          <%= f.radio_button :environment, '' %>
        <% elsif i != 0 %>
          <%= f.radio_button :environment, i.to_s %>
        <% end %>
        <span><%= environments[i] %></span>
    </label>
    <% if i == 0 %>
      <br>
    <% end%>
  <% end%>
  <p class = "emphasis"><%= TARGET %></p>
  <% targets = [ALL,TARGET_1,TARGET_2,TARGET_3,TARGET_4,TARGET_5,TARGET_6,TARGET_7,TARGET_8] %>
  <% for i in [*0..8] %>
    <label>
        <% if i == 0 %>
          <%= f.radio_button :target, '' %>
        <% elsif i != 0 %>
          <%= f.radio_button :target, i.to_s %>
        <% end %>
        <span><%= targets[i] %></span>
    </label>
    <% if i == 0 %>
      <br>
    <% end%>
  <% end%>
    <p class = "emphasis"><%= PICTURE %></p>
        <% if @workout.image.attached? %>
            <%= image_tag @workout.image.variant(resize:'400x400').processed %>
        <% else %>
            <%= image_tag 'none-image.jpg', size: '400x400' %>
        <% end %>
        <br>
        <%= f.file_field :image %>
    <p class = "emphasis"><%= YOUTUBE %></p>
        <% if @workout.video_id.empty? %>
            <%= image_tag 'none-image.jpg', size: '400x400' %>
        <% else%>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @workout.video_id%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <% end%>
        <%= f.text_field :video_id ,placeholder: YOUTUBE_PH %>
    <button type="submit" class="waves-effect waves-light btn black">
        <i class="material-icons left">update</i><%= UPDATE %>
    </button>
<% end %>

