<% content_for(:html_title) { INDEX_TITLE } %>
<br>
<% @workout = Workout.new unless @workout %>
<h1>Training index</h1>
<%= search_form_for @search do |f| %>
  <p class = "emphasis"><%= PURPOSE %></p>
  <% purposes = [ALL,PURPOSE_1,PURPOSE_2] %>
  <% for i in [*0..2] %>
    <label>
        <% if i == 0 %>
          <%= f.radio_button :purpose_cont, '',:class =>'radiotest' %>
        <% elsif i != 0 %>
          <%= f.radio_button :purpose_cont, i.to_s %>
        <% end %>
        <span><%= purposes[i] %></span>
    </label>
    <% if i == 0 %>
      <br>
    <% end%>
  <% end%>
  <p class = "emphasis"><%= ENVIRONMENT %></p>
  <% environments = [ALL,ENVIRONMENT_1,ENVIRONMENT_2,ENVIRONMENT_3] %>
  <% for i in [*0..3] %>
    <label >
        <% if i == 0 %>
          <%= f.radio_button :environment_cont, '' %>
        <% elsif i != 0 %>
          <%= f.radio_button :environment_cont, i.to_s %>
        <% end %>
        <span><%= environments[i] %></span>
    </label>
    <% if i == 0 %>
      <br>
    <% end%>
  <% end%>
  <p class = "emphasis"><%= TARGET %></p>
  <% targets = [ALL,TARGET_1,TARGET_2,TARGET_3,TARGET_4,TARGET_5,TARGET_6,TARGET_7,TARGET_8] %>
  <% for i in [*0..8] %>
    <label>
        <% if i == 0 %>
          <%= f.radio_button :target_cont, '' %>
        <% elsif i != 0 %>
          <%= f.radio_button :target_cont, i.to_s %>
        <% end %>
        <span><%= targets[i] %></span>
    </label>
    <% if i == 0 %>
      <br>
    <% end%>
  <% end%>
  <p class = "emphasis"><%=  MENU_NAME %></p>
  <%= f.search_field :menu_cont %>
  <button type="submit" class="waves-effect waves-light btn black">
    <i class="material-icons left">search</i><%= SEARCH %>
  </button>
  <button onclick="clearForm()" class="waves-effect waves-light btn black">
    <i class="material-icons left">clear</i><%= CLEAR %>
  </button>
<% end %>
<div class="row">
<ul class="workouts">
  <%= render @searchResults %>
  <%if @searchResults.empty? %> <!--結果0件-->
    <li><%= SEARCH_EMPTY %></li>
  <%end%>
</ul>
  </div>

<script>
  // clearボタンを押した時の動作
  function clearForm() {
    var textForm = document.getElementById("q_menu_cont");
    var purposeButton = document.getElementById("q_purpose_cont_");
    var environmentButton = document.getElementById("q_environment_cont_");
    var targetButton = document.getElementById("q_target_cont_");
    textForm.value = '';
    purposeButton.checked = true;
    environmentButton.checked = true;
    targetButton.checked = true;
  }
</script>

