<% @workout = Workout.new unless @workout %>

<h1>Training index</h1>

<p>検索</p>

<%= search_form_for @search do |f| %>
  <p><label>purpose</p>
  <p>
    <label>
      <%= f.radio_button :purpose_cont, '', checked: true %>
      <span>全て</span>
    </label>
    <label>
      <%= f.radio_button :purpose_cont, '1' %>
      <span>ウエイトトレーニング</span>
    </label>
    <label>
      <%= f.radio_button :purpose_cont, '2' %>
      <span>ダイエット</span>
    </label>
    <label>
      <%= f.radio_button :purpose_cont, '3' %>
      <span>アクティビティ</span>
    </label>
  </p>
  <p><label>environment</p>
  <p>
    <label>
      <%= f.radio_button :environment_cont, '', checked: true %>
      <span>全て</span>
    </label>
    <label>
      <%= f.radio_button :environment_cont, '1' %>
      <span>ジム</span>
    </label>
    <label>
      <%= f.radio_button :environment_cont, '2' %>
      <span>トレーニンググッズ</span>
    </label>
    <label>
      <%= f.radio_button :environment_cont, '3' %>
      <span>ボディウエイト</span>
    </label>
  </p>
  <p><label>target</p>
  <p>
    <label>
      <%= f.radio_button :target_cont, '', checked: true %>
      <span>全て</span>
    </label>
    <label>
      <%= f.radio_button :target_cont, '1' %>
      <span>胸</span>
    </label>
    <label>
      <%= f.radio_button :target_cont, '2' %>
      <span>背中</span>
    </label>
    <label>
      <%= f.radio_button :target_cont, '3' %>
      <span>肩</span>
    </label>
    <label>
      <%= f.radio_button :target_cont, '4' %>
      <span>上腕</span>
    </label>
    <label>
      <%= f.radio_button :target_cont, '5' %>
      <span>前腕</span>
    </label>
    <label>
      <%= f.radio_button :target_cont, '6' %>
      <span>体幹</span>
    </label>
    <label>
      <%= f.radio_button :target_cont, '7' %>
      <span>大腿</span>
    </label>
    <label>
      <%= f.radio_button :target_cont, '8' %>
      <span>下腿</span>
    </label>
  </p>
  <p>
    <%= f.label :menu_cont, "メニュー名で検索" %>
      <%= f.search_field :menu_cont %>
  </p>
  
  <input type="button" value="clear" onclick="clearForm()">

  <div class="actions"><%= f.submit "検索" %></div>
<% end %>
<ul class="workouts">
  <%= render @products %>
</ul>
<script>

// clearボタンを押した時の動作
function clearForm() {
	var textForm = document.getElementById("q_menu_cont");
  var purposeButton = document.getElementById("q_purpose_cont_");
  var environmentButton = document.getElementById("q_environment_cont_");
  var targetButton = document.getElementById("q_target_cont_");
  textForm.value = '';
  purposeButton.checked = true;
  environmentButton.checked = true;
  targetButton.checked = true;
}

</script>

<script>
function buttonClick(){
    alert('Click');
}
</script>

