<% @workout = Workout.new unless @workout %>

<h1>Training index</h1>

<%= search_form_for @search do |f| %>
  <p class = "emphasis"><%= PURPOSE %></p>

    <label>
      <%= f.radio_button :purpose_cont, '', checked: true %>
      <span><%= ALL %></span>
    </label>
    <br>
    <label>
      <%= f.radio_button :purpose_cont, '1' %>
      <span><%= PURPOSE_1 %></span>
    </label>
    <label>
      <%= f.radio_button :purpose_cont, '2' %>
      <span><%= PURPOSE_2 %></span>
    </label>
    <label>
      <%= f.radio_button :purpose_cont, '3' %>
      <span><%= PURPOSE_3 %></span>
    </label>
  <p class = "emphasis"><%= ENVIRONMENT %></p>
    <label>
      <%= f.radio_button :environment_cont, '', checked: true %>
      <span><%= ALL %></span>
    </label>
    <br>
    <label>
      <%= f.radio_button :environment_cont, '1' %>
      <span><%= ENVIRONMENT_1 %></span>
    </label>
    <label>
      <%= f.radio_button :environment_cont, '2' %>
      <span><%= ENVIRONMENT_2 %></span>
    </label>
    <label>
      <%= f.radio_button :environment_cont, '3' %>
      <span><%= ENVIRONMENT_3 %></span>
    </label>
  <p class = "emphasis"><%= TARGET %></p>
    <label>
      <%= f.radio_button :target_cont, '', checked: true %>
      <span><%= ALL %></span>
    </label>
    <br>
    <label>
      <%= f.radio_button :target_cont, '1' %>
      <span><%= TARGET_1 %></span>
    </label>
    <label>
      <%= f.radio_button :target_cont, '2' %>
      <span><%= TARGET_2 %></span>
    </label>
    <label>
      <%= f.radio_button :target_cont, '3' %>
      <span><%= TARGET_3 %></span>
    </label>
    <label>
      <%= f.radio_button :target_cont, '4' %>
      <span><%= TARGET_4 %></span>
    </label>
    <label>
      <%= f.radio_button :target_cont, '5' %>
      <span><%= TARGET_5 %></span>
    </label>
    <label>
      <%= f.radio_button :target_cont, '6' %>
      <span><%= TARGET_6 %></span>
    </label>
    <label>
      <%= f.radio_button :target_cont, '7' %>
      <span><%= TARGET_7 %></span>
    </label>
    <label>
      <%= f.radio_button :target_cont, '8' %>
      <span><%= TARGET_8 %></span>
    </label>
  <p class = "emphasis"><%=  MENU_NAME %></p>
  <%= f.search_field :menu_cont %>
  
  <button type="submit" class="waves-effect waves-light btn">
    <i class="material-icons left">search</i><%= SEARCH %>
  </button>
  <button onclick="clearForm()" class="waves-effect waves-light btn">
    <i class="material-icons left">clear</i><%= CLEAR %>
  </button>
<% end %>

<div class="row">
<ul class="workouts">
  <%= render @searchResults %>
  <%if @searchResults.empty? %> <!--検索結果0件-->
    <li><%= SEARCH_EMPTY %></li>
  <%end%>
</ul>
  </div>

<script>
  // clearボタンを押した時の動作
  function clearForm() {
    var textForm = document.getElementById("q_menu_cont");
    var purposeButton = document.getElementById("q_purpose_cont_");
    var environmentButton = document.getElementById("q_environment_cont_");
    var targetButton = document.getElementById("q_target_cont_");
    textForm.value = '';
    purposeButton.checked = true;
    environmentButton.checked = true;
    targetButton.checked = true;
  }
</script>

