<h1>Training new</h1>

<%= simple_form_for @workout do |f| %>
  <p class = "emphasis"><%= MENU_NAME %></p>
     <%= f.input :menu ,placeholder: "ダンベル ショルダープレス " ,label:false %>
  <p class = "emphasis"><%= PURPOSE %></p>
  <p>
    <label>
      <%= f.radio_button :purpose, '1', checked: true %>
      <span><%= PURPOSE_1 %></span>
    </label>
    <label>
      <%= f.radio_button :purpose, '2' %>
      <span><%= PURPOSE_2 %></span>
    </label>
    <label>
      <%= f.radio_button :purpose, '3' %>
      <span><%= PURPOSE_3 %></span>
    </label>
  </p>
  <p class = "emphasis"><%= ENVIRONMENT %></p>
  <p>
    <label>
      <%= f.radio_button :environment, '1', checked: true  %>
      <span><%= ENVIRONMENT_1 %></span>
    </label>
    <label>
      <%= f.radio_button :environment, '2' %>
      <span><%= ENVIRONMENT_2 %></span>
    </label>
    <label>
      <%= f.radio_button :environment, '3' %>
      <span><%= ENVIRONMENT_3 %></span>
    </label>
  </p>
  <p class = "emphasis"><%= TARGET %></p>
  <p>
    <label>
      <%= f.radio_button :target, '1', checked: true  %>
      <span><%= TARGET_1 %></span>
    </label>
    <label>
      <%= f.radio_button :target, '2' %>
      <span><%= TARGET_2 %></span>
    </label>
    <label>
      <%= f.radio_button :target, '3' %>
      <span><%= TARGET_3 %></span>
    </label>
    <label>
      <%= f.radio_button :target, '4' %>
      <span><%= TARGET_4 %></span>
    </label>
    <label>
      <%= f.radio_button :target, '5' %>
      <span><%= TARGET_5 %></span>
    </label>
    <label>
      <%= f.radio_button :target, '6' %>
      <span><%= TARGET_6 %></span>
    </label>
    <label>
      <%= f.radio_button :target, '7' %>
      <span><%= TARGET_7 %></span>
    </label>
    <label>
      <%= f.radio_button :target, '8' %>
      <span><%= TARGET_8 %></span>
    </label>
  </p>
  <p class = "emphasis"><%= PICTURE %></p>
    <% @workout.errors.full_messages.each do |msg| %>
      <div >
        <span style="color:red"><%= msg %></span>
      </div>
    <% end %>
    <%= f.file_field :image %>
  <p class = "emphasis"><%= YOUTUBE %></p>
      <%= f.text_field :video_id ,placeholder: "https://www.youtube.com/watch?v=_Rbmhns0CxU" %>
  <button type="submit" class="waves-effect waves-light btn black">
    <i class="material-icons left">add</i><%= CREATE %>
  </button>
  <button onclick="clearForm()" class="waves-effect waves-light btn black">
    <i class="material-icons left">clear</i><%= CLEAR %>
  </button>
<% end %>