<h1>Training new</h1>

<%= simple_form_for :workout do |f| %> <!--【TODO：冗長、共通化】-->
  <%= f.input :menu %>
  <%= f.label :purpose %>
  <%= f.select :purpose, [["ウエイトトレーニング","1"],["ダイエット","2"],["アクティビティ","3"]], 
        { include_blank: true, selected: 0 }, { id: "purpose", class: "browser-default" }  %>
  <%= f.label :environment %>
  <%= f.select :environment, [["ジム","1"],["トレーニンググッズ","2"],["ボディウェイト","3"]], 
        { include_blank: true, selected: 0 }, { id: "environment", class: "browser-default" }  %>
  <%= f.label :target %>
  <%= f.select :target, [["胸","1"],["背中","2"],["腹","3"],["腕","4"],["下半身","5"],["心肺","6"]], 
        { include_blank: true, selected: 0}, { id: "target", class: "browser-default" }  %>
  <%= f.file_field :image %>
  <%= f.text_field :video_id %>
  <%= f.button :submit ,"Create workout" %>
<% end %>