<% content_for(:html_title) { @workout.menu } %>
<br>
<%= link_to workout_index_url ,class: "btn-small harf-transparent waves-effect waves-light black" do %>
    <span style="font-size:10px"><i class="material-icons left">arrow_back</i><%= BACK %></span>
<% end %>
<h1>Training show</h1>
<p class="notification">
    <span class = "success"><%= notice %></span>
</p>
<%= form_with model: @workout ,local: true do |f| %>
    <% if @workout.user_id == current_user.id%>
        <%= link_to  workout_url(@workout.id), method: :delete ,class: "btn-floating waves-effect waves-light btn black",data:
                { confirm: DELETE_CONFIRM,
                cancel: DELETE_CONFIRM_N, commit: DELETE_CONFIRM_Y }, title: DELETE_CONFIRM_TITLE do %>
            <i class="material-icons left">delete</i>
        <% end %>
        <%= link_to  @workout, method: :post ,class: "btn-floating waves-effect waves-light btn black" do %>
            <i class="material-icons left">edit</i>
        <% end %>
    <% end %>

    <p class = "emphasis"><%=  MENU_NAME %></p>
        <%= @workout.menu %>
    <p class = "emphasis"><%= PURPOSE %></p>
        <%= @purpose.name %>
    <p class = "emphasis"><%= ENVIRONMENT %></p>
        <%= @environment.name %>
    <p class = "emphasis"><%= TARGET %></p>
        <%= @target.name %>
    <p class = "emphasis"><%= PICTURE %></p>
        <% if @workout.image.attached? %>
            <%= image_tag @workout.image.variant(resize:'400x400').processed %>
        <% else %>
            <%= image_tag 'none-image.jpg', size: '400x400' %>
        <% end %>
     <p class = "emphasis"><%= YOUTUBE %></p>
        <% if @workout.video_id.empty? %>
            <%= image_tag 'none-image.jpg', size: '400x400' %>
        <% else%>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @workout.video_id%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <% end%>
<% end %>

