<h1>Training show</h1>

<ul> <%= @workout.menu %> </ul>
<ul> <%= @workout.picture %> </ul> 
<ul> <%= @workout.purpose %> </ul> 
<ul> <%= @workout.environment %> </ul> 
<ul> <%= @workout.target %> </ul> 
<ul> <%= @workout.movie %> </ul>
<ul> <%= @workout.content %></ul>

<ul> <%= @micropost.comment %></ul>
