<%= link_to '戻る', 'javascript:history.back()' %>
<h1>Training show</h1>
<%= simple_form_for @workout do |f| %>
    <% if @workout.user_id == current_user.id%>  
        <%= link_to "削除", workout_url(@workout.id), method: :delete ,data:
                { confirm: '削除しますか?',
                cancel: 'キャンセル',commit: '削除'}, title: '削除確認' %>
        <%= link_to "編集", @workout, method: :post %>
    <% end %>
    <h6>【menu】</h6>
    <%= @workout.menu %>
    <h6>【purpose】</h6>
    <%= @purpose.name %>
    <h6>【environment】</h6>
    <%= @environment.name %>
    <h6>【target】</h6>
    <%= @target.name %>
    <h6>【picture】</h6>

    <% if @workout.image.attached? %>
        <%= image_tag @workout.image.variant(resize:'400x400').processed %>
    <% else %>
        <%= image_tag 'none-image.jpg', size: '400x400' %>
    <% end %>

    <h6>【youtube】</h6>
    <% if @workout.video_id.empty? %>
        <%= image_tag 'none-image.jpg', size: '400x400' %>
    <% else%>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @workout.video_id%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <% end%>
<% end %>

