<% provide(:title, 'login') %> 
<h1>Log in</h1>
<%= simple_form_for :sessions do |f| %>
  <p class = "emphasis"><%= EMAIL %></p>
    <%= f.input :email ,label:false %>
  <p class = "emphasis"><%= PASSWORD %></p>
    <%= f.input :password ,label:false %>
  <%= f.button :submit , LOGIN %>
<% end %>

<!--動作確認用-->
<input id="copyID" type="text" value="example@sample.co.jp" readonly>
<input id="copyPassword" type="text"  value="password" readonly>
<input type="button" value="Emailコピー" onclick="copyToClipboard()">
<input type="button" value="Passwordコピー" onclick="copyToClipboard2()">

<script>
// 【!TODO】コピー用javaScript一元化
// アドレスコピー
function copyToClipboard() {
var copyTarget = document.getElementById("copyID");
copyTarget.select();
document.execCommand("Copy");
}
</script>
<script>
// パスワードコピー
function copyToClipboard2() {
var copyTarget = document.getElementById("copyPassword");
copyTarget.select();
document.execCommand("Copy");
}
</script>