<br>
<%= link_to 'javascript:history.back()' ,class: "btn-small harf-transparent waves-effect waves-light " do %>
    <span style="font-size:10px"><i class="material-icons left">arrow_back</i><%= BACK %></span>
<% end %>
<h1>User edit</h1>
<p class="notification">
    <span class = "error"><%= notice %></span>
</p>
<%= simple_form_for @user do |f| %>
    <p class = "emphasis"><%= OLD_PASSWORD %></p>
        <%= f.input :password_before ,label:false %>
    <br>
    <p class = "emphasis"><%= NAME %></p>
        <%= f.input :name ,placeholder: "UserName" ,label:false %>
    <p class = "emphasis"><%= EMAIL %></p>
        <%= f.input :email ,placeholder: "mail-address@sample.jp" ,label:false %>

    <p class = "emphasis"><%= NEW_PASSWORD %></p>
        <%= f.input :password ,label:false %>
    <p class = "emphasis"><%= NEW_PASSWORD_CONFIRMATION %></p>
        <%= f.input :password_confirmation ,label:false %>
    <button type="submit" class="waves-effect waves-light btn">
        <i class="material-icons left">update</i><%= UPDATE %>
    </button>
<% end %>