<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>
<%= simple_form_for @user do |f| %>
  <%= render 'shared/error_messages' %>
  <p class = "emphasis"><%= NAME %></p>
    <%= f.input :name ,label:false %>
  <p class = "emphasis"><%= EMAIL %></p>
    <%= f.input :email ,label:false %>
  <p class = "emphasis"><%= PASSWORD %></p>
    <%= f.input :password ,label:false %>
  <p class = "emphasis"><%= PASSWORD_CONFIRMATION %></p>
    <%= f.input :password_confirmation ,label:false %>
    <%= f.button :submit , SIGN_UP %>
<% end %>