<% provide(:title, 'User show') %>
<h1>User show</h1>
<p class="notification">
    <%= notice %>
</p>
<%= link_to user_edit_path ,class: "waves-effect waves-light btn" do %>
            <i class="material-icons left">edit</i> <%= EDIT %>
        <% end %>
<%= form_with do |f| %>
    <p class = "emphasis"><%= NAME %></p>
        <%= @user.name %>
    <p class = "emphasis"><%= EMAIL %></p>
        <%= @user.email %>
    <p class = "emphasis"><%= EMAIL %></p>
        <%= HIDDEN %>
<% end %>