<% provide(:title, 'User edit') %> <!--フォーム幅等は一旦諦め(情報が錯綜)-->
<h1>User edit</h1>
<%= simple_form_for @user do |f| %>
  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.input :password_confirmation ,label: "confirmation" %>
  <%= f.button :submit ,"Create my account"%>
<% end %>