<nav>
    <div class="nav-wrapper black">
        <a href= <%=root_path %> class="brand-logo right">THE WORKOUT</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <%if logged_in?%> <!--ログイン状態-->
                <li><%= link_to "プロフィール", profile_url %></li>
                <li><%= link_to "ログアウト", logout_url, method: :delete ,data:
                        { confirm: 'ログアウトしますか?',
                    cancel: 'キャンセル',
                    commit: 'ログアウト'}, title: 'ログアウト確認' %></li>
                <li><%= link_to "ワークアウト検索", workout_index_url  %></li>
                <li><%= link_to "ワークアウト登録", workout_new_url %></li>
            <%else%><!--ログアウト状態-->
                <li><%= link_to "新規登録", sighup_url %></li>
                <li><%= link_to "ログイン", login_url %></li>
            <%end%>
        </ul>
        <!--【TODO】レスポンシブル対応-->
    </div>
</nav>