<nav>
    <div class="nav-wrapper blue">
        <a href= <%=root_path %> class="brand-logo right">THE WORKOUT</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <!--ログアウト状態-->
            <li><%= link_to "新規登録",    '#' %></li>
            <li><%= link_to "ログイン",    '#' %></li>
            <!--ログイン状態-->
            <li><%= link_to "プロフィール",    '#' %></li>
            <li><%= link_to "ログアウト",    '#' %></li>
        </ul>
    </div>
</nav>